.button-clear {
  height: 80px;
  font-size: 1.6em;
  display: flex;
  flex: 1;
  background-color: #1b1b32;
  margin-top: 8px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  border-radius: 45px;
  cursor: pointer;
}

.button-clear:hover {
  opacity: 0.85;
}