.input {
  align-items: center;
  background-color: #0a0a23;
  border-radius: 25px;
  color: white;
  display: flex;
  font-size: 30px;
  font-weight: bold;
  height: 75px;
  justify-content: flex-end;
  margin-bottom: 20px;
  padding: 11px 30px 11px 11px;
}