*,
*::after,
*::before {
  border: 0;
  box-sizing: border-box;
  color: #fff;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #121212;
}

#app {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(100px, 125px));
  place-content: center;
  width: 400px;
}

.drum-pad {
  background-color: #252525;
  border-radius: 25px;
  font-size: 24px;
  font-weight: bold;
  transition: all 0.2s ease;
}

.drum-pad:hover {
  background-color: #1a1a1a;

}

.drum-pad:active {
  transform: scale(0.9);
}

.drum-pad:focus-visible {
  transform: scale(0.9);
  background-color: #1a1a1a;
  outline: none;
}

.display-text {
  color: #1ed760;
  font-size: 24px;
  grid-column: 1 / -1;
  height: 34px;
  text-align: center;
}

.header-title {
  margin: 0 0 50px 0;
  text-align: center;
}

@media screen and (max-width: 450px) {
  .container {
    width: 90vw;
  }
}