*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  align-items: center;
  background-color: #000;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: Lato, sans-serif;
  gap: 1.125rem;
  height: 100vh;
  justify-content: center;
}

.container {
  background-color: #99c9ff;
  border-radius: 20px;
  height: 600px;
  padding: 19px;
  width: 400px;
}

.row {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 4px;
}

.error-message {
  background-color: #bd4039;
  border-radius: 25px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 25px;
  text-align: center;
  width: 400px;
}