*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: black;
}

#app {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.main {
  font-family: Lato, sans-serif;
  position: relative;
}

.container {
  background-color: #99c9ff;
  border-radius: 20px;
  height: 600px;
  max-width: 400px;
  padding: 19px;
  width: 80vw;
  margin-bottom: 20px;
}

.row {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 4px;
}

.error-message {
  background-color: #bd4039;
  border-radius: 25px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  max-width: 400px;
  padding: 25px;
  position: absolute;
  text-align: center;
  width: 80vw;
}